DATABASE_URL=
SYNC_DATABASE_URL=
REDIS_URL=redis://redis:6379/0
SECRET_KEY=xxxxxxxxxxxxxxxxxxxx
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
BASE_URL=https://www.flikai.com
# MAIL_FROM_EMAIL=your.gmail@gmail.com
# MAIL_FROM_NAME=Flik
# SENDGRID_API_KEY=
MAIL_FROM_EMAIL=your.gmail@gmail.com
MAIL_FROM_NAME=Flik
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your.gmail@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_USE_TLS=true